$white: #ffffff;
$top_color: #f87eb5;
$top_bg_color: #fdd7ea;
$bottom_color: #fa9eca;
$bottom_bg_color: #fef1f8;
$btn_color: #7f7f7f;
$btn_gray_color: #6b6b6b;
$btn_gray_bg_color: #d7d7d7;
$btn_hover: #F9EAE7;
$btn_gray_hover: #B4B1B0;